@model Customer.CustomerIndexViewModel;
@section Breadcrumbs {
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>CUSTOMER INDEX</span>
    </div>
}

<div class="grid-container customer-index">
    <form asp-action="Index" method="get" class="filter">
        <input asp-for="@Model.CompanyName" placeholder="Company Name...">
        <input asp-for="@Model.ContactPerson" placeholder="Contact Name...">
        <button class="blue-button" type="submit">Search</button>
    </form>
    <a class="blue-button create-button" asp-action="Add">Insert New Customer</a>
    <table>
        <thead>
            <th>Action</th>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>Address</th>
            <th>City</th>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers) {
                @if (customer.DeleteDate == null) {
                    <tr>
                        <td>
                            <a asp-action="Update" asp-route-id="@customer.Id" class="blue-button update-button">Edit</a>
                            <a asp-action="Delete" asp-route-id="@customer.Id" class="blue-button delete-button">Delete</a>
                        </td>
                        <td>@customer.CompanyName</td>
                        <td>@customer.ContactPerson</td>
                        <td>@customer.Address</td>
                        <td>@customer.City</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    @if (Model != null) {
                        <div class="pagination">
                            <div>page @Model.Pagination.PageNumber of @Model.Pagination.TotalPages</div>
                            <span>
                                @for (int pageNumber = 1; pageNumber <= Model.Pagination.TotalPages; pageNumber++) {
                                    <a asp-action="Index" asp-route-pageNumber="@pageNumber" asp-route-companyName="@Model.CompanyName" asp-route-contactPerson="@Model.ContactPerson" class="number">@pageNumber</a>
                                }
                            </span>
                        </div>
                    }
                </td>
            </tr>
        </tfoot>
    </table>
</div>